.home {
  padding: 30px;
  margin: 0px auto;
  max-width: 1000px;

  h1 {
    margin-bottom: 20px;
  }

  .after-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
