.post-wrapper {
  position: relative;
  display: flex;
  color: #28282b;
  flex-direction: column;
  cursor: pointer;
  margin-top: 20px;
  padding: 30px 50px;
  border-radius: 10px;
  background-color: white;
  border: 1px solid #ededed;
  transition: all 0.11s ease-in-out;

  &:hover {
    box-shadow: 0px 4px 20px rgba(174, 174, 174, 0.19);
    transform: scale(1.005);
  }

  &:last-of-type {
    margin-bottom: 20px;
  }

  b {
    display: block;
    margin-bottom: 7px;
  }

  .created-at {
    color: grey;
    margin-bottom: 7px;
  }

  h2 {
    text-transform: uppercase;
    margin-bottom: 7px;
  }

  p {
    margin-bottom: 7px;
  }

  ul {
    color: grey;
    display: flex;
    margin-bottom: 12px;

    li {
      margin-right: 15px;
    }
  }

  .views {
    display: flex;
    align-items: center;

    span {
      margin-left: 10px;
      color: #808080;
    }
  }
}
