h1 {
  margin-bottom: 20px;
}

p:nth-of-type(1) {
  color: green;
  margin-bottom: 20px;
}

p:nth-of-type(2) {
  color: blue;
  margin-bottom: 20px;
}

button {
  margin-bottom: 20px;
  padding: 10px 100px;
  border-radius: 10px;
  border: 1px solid transparent;
  color: white;
  background-color: #01a101;

  &:hover {
    background-color: lighten(#01a101, 10%);
  }
}
