* {
  margin: 0;
  text-decoration: none;
  padding: 0;
  list-style: none; // list no dots or whatever
  outline: none;
  font-family: "Roboto", -apple-system, system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: #28282b;
  background-color: #e0f2fe;
  font-size: 20px;
}
