* {
  margin: 0;
  text-decoration: none;
  padding: 0;
  list-style: none; // list no dots or whatever
  outline: none;
  font-family: "Roboto", -apple-system, system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #e7f6ff;
  font-size: 20px;
}
